<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/st-karanjamwal/index.json" />
    <add key="https://nuget.pkg.github.com/st-karanjamwal/Compcare.Test/index.json" value="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" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="st-karanjamwal" />
      <add key="clearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>